html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/imagens/pexels-pixelcop-2680270.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.808);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.7);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 5px;
    border-radius: 10px;
    margin: 2rem;
    color: #e0d7d7;
}

section {
    margin-bottom: 2rem;
}

.project {
    background-color: rgba(207, 206, 206, 0.904);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
    color: rgb(46, 44, 44);
    width: 80vw;
}

footer {
    background-color: rgba(0, 0, 0, 0.829);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    color: #e0d7d7;
}

ul li a {
    color: #e0d7d7;
    text-decoration: none;
    font-size: 1.2rem;
}

ul li a i {
    margin-right: 10px;
}

ul li a:hover {
    text-decoration: underline;
}

.project:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.452);
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.05);
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007acc;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #005b99;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    color: #000;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.technologies {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.html-icon {
    font-size: 2rem;
    color: #e34c26; /* Cor do HTML */
    transition: transform 0.3s;
}

.css-icon {
    font-size: 2rem;
    color: #264de4; /* Cor do CSS */
    transition: transform 0.3s;
}

.js-icon {
    font-size: 2rem;
    color: #f7df1e; /* Cor do JavaScript */
    transition: transform 0.3s;
}

/* Efeito de hover para cada ícone */
.technologies i:hover {
    transform: scale(1.2);
}

